In [1]:
import pandas as pd
import numpy as np

In [2]:
yes = pd.read_json("data\intents\Get deployment details - yes_usersays_en.json")

In [3]:
yes.head()

,id,data,isTemplate,count,updated
0,8a76441a-8cbd-4b99-8a1f-bb4c1f18dfdc,"[{'text': 'yes', 'userDefined': False}]",False,1,0
1,0083ef88-2868-43a8-8944-3e098dd55c7a,"[{'text': 'okay I will', 'userDefined': False}]",False,2,0
2,7aac036a-55e5-468a-9f43-c8dbb456ff73,"[{'text': 'why not', 'userDefined': False}]",False,0,0
3,89d7ed15-c76c-4cae-af40-053b39489a45,"[{'text': 'yes that's alright', 'userDefined':...",False,0,0
4,f4d597c8-d098-46da-89fe-1a12f425cd58,"[{'text': 'yes I do', 'userDefined': False}]",False,0,0

In [4]:
yes = pd.DataFrame(yes.data)

In [5]:
yes.head()

                                                data
0            [{'text': 'yes', 'userDefined': False}]
1    [{'text': 'okay I will', 'userDefined': False}]
2        [{'text': 'why not', 'userDefined': False}]
3  [{'text': 'yes that's alright', 'userDefined':...
4       [{'text': 'yes I do', 'userDefined': False}]

In [6]:
def clean(x):
    return dict(list(x)[0])['text']

In [7]:
yes = pd.DataFrame(yes.data.apply(clean))

In [8]:
yes.head()

                 data
0                 yes
1         okay I will
2             why not
3  yes that's alright
4            yes I do

In [9]:
no = pd.read_json("data\intents\Get deployment details - no_usersays_en.json")

In [10]:
no = pd.DataFrame(no.data)

In [11]:
no = pd.DataFrame(no.data.apply(clean))

In [12]:
no.head()

            data
0  thanks but no
1         no way
2             no
3    no no don't
4             na

In [13]:
greet = pd.read_json("data\intents\Default Welcome Intent_usersays_en.json")

In [14]:
greet.head()

,id,data,isTemplate,count,updated
0,d5c7ce2e-b5fa-4c35-bd5c-c5676e046962,"[{'text': 'just going to say hi', 'userDefined...",False,0,0
1,6cb5bff0-1dfa-45f1-b2d9-14c171264157,"[{'text': 'heya', 'userDefined': False}]",False,0,0
2,63729ba7-03ea-4195-b404-223e9347a99c,"[{'text': 'hello hi', 'userDefined': False}]",False,0,0
3,44730b05-ba07-46c5-80de-0054e0082bf1,"[{'text': 'howdy', 'userDefined': False}]",False,0,0
4,e0134cf2-921b-40db-a379-f12dfee2d802,"[{'text': 'hey there', 'userDefined': False}]",False,0,0

In [15]:
greet = pd.DataFrame(greet.data)

In [16]:
greet = pd.DataFrame(greet.data.apply(clean))

In [17]:
greet.head()

                   data
0  just going to say hi
1                  heya
2              hello hi
3                 howdy
4             hey there

In [18]:
yes['class'] = "yes"
no['class'] = "no"
greet['class'] = "hi"

In [19]:
welc = yes.append(no, ignore_index=True)
welc = welc.append(greet, ignore_index=True)

In [20]:
welc.sample(10)

                   data class
31           yes please   yes
50          no I cannot    no
19              perfect   yes
61        not this time    no
70    I don't want that    no
82                 not     no
30                 yeah   yes
25          sounds good   yes
67  nothing else thanks    no
4              yes I do   yes

In [21]:
welc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    103 non-null    object
 1   class   103 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [22]:
welc.to_csv("./data/clean_csv/welc.csv", index=False)

In [23]:
os = pd.read_json("data\entities\ostype_entries_en.json")

In [24]:
os.head()

                value                                           synonyms
0    ubuntu-18-04-x64           [ubuntu 18, ubuntu-18-04-x64, ubuntu-18]
1       fedora-30-x64              [fedora-30-x64, fedora 30, fedora-30]
2    ubuntu-16-04-x64           [ubuntu-16-04-x64, ubuntu 16, ubuntu-16]
3       fedora-31-x64              [fedora-31-x64, fedora 31, fedora-31]
4  freebsd-12-x64-zfs  [freebsd-12-x64-zfs, freebsd 12 zfs, freebsd 1...

In [25]:
osint = list(os.value)

In [26]:
osint

['ubuntu-18-04-x64',
 'fedora-30-x64',
 'ubuntu-16-04-x64',
 'fedora-31-x64',
 'freebsd-12-x64-zfs',
 'freebsd-12-x64',
 'freebsd-11-x64-zfs',
 'freebsd-11-x64',
 'debian-9-x64',
 'debian-10-x64',
 'centos-8-x64',
 'centos-7-x64',
 'centos-6-x64',
 'centos-8',
 'centos-7',
 'centos-6',
 'coreos-stable',
 'coreos-beta',
 'coreos-alpha',
 'debian-10',
 'debian-9',
 'rhel-8',
 'rhel-7',
 'rhel-6',
 'ubuntu-1910',
 'ubuntu-minimal-1910',
 'ubuntu-1804-lts',
 'ubuntu-minimal-1804-lts',
 'ubuntu-1604-lts',
 'ubuntu-minimal-1604-lts']