In [2]:
import pandas as pd
import numpy as np

In [20]:
yes = pd.read_json("data\intents\Get deployment details - yes_usersays_en.json")

In [21]:
yes.head()

,id,data,isTemplate,count,updated
0,8a76441a-8cbd-4b99-8a1f-bb4c1f18dfdc,"[{'text': 'yes', 'userDefined': False}]",False,1,0
1,0083ef88-2868-43a8-8944-3e098dd55c7a,"[{'text': 'okay I will', 'userDefined': False}]",False,2,0
2,7aac036a-55e5-468a-9f43-c8dbb456ff73,"[{'text': 'why not', 'userDefined': False}]",False,0,0
3,89d7ed15-c76c-4cae-af40-053b39489a45,"[{'text': 'yes that's alright', 'userDefined':...",False,0,0
4,f4d597c8-d098-46da-89fe-1a12f425cd58,"[{'text': 'yes I do', 'userDefined': False}]",False,0,0

In [22]:
yes = pd.DataFrame(yes.data)

In [23]:
yes.head()

                                                data
0            [{'text': 'yes', 'userDefined': False}]
1    [{'text': 'okay I will', 'userDefined': False}]
2        [{'text': 'why not', 'userDefined': False}]
3  [{'text': 'yes that's alright', 'userDefined':...
4       [{'text': 'yes I do', 'userDefined': False}]

In [24]:
def clean(x):
    return dict(list(x)[0])['text']

In [25]:
yes = pd.DataFrame(yes.data.apply(clean))

In [26]:
yes.head()

                 data
0                 yes
1         okay I will
2             why not
3  yes that's alright
4            yes I do

In [27]:
no = pd.read_json("data\intents\Get deployment details - no_usersays_en.json")

In [28]:
no = pd.DataFrame(no.data)

In [29]:
no = pd.DataFrame(no.data.apply(clean))

In [30]:
no.head()

            data
0  thanks but no
1         no way
2             no
3    no no don't
4             na

In [31]:
greet = pd.read_json("data\intents\Default Welcome Intent_usersays_en.json")

In [32]:
greet.head()

,id,data,isTemplate,count,updated
0,d5c7ce2e-b5fa-4c35-bd5c-c5676e046962,"[{'text': 'just going to say hi', 'userDefined...",False,0,0
1,6cb5bff0-1dfa-45f1-b2d9-14c171264157,"[{'text': 'heya', 'userDefined': False}]",False,0,0
2,63729ba7-03ea-4195-b404-223e9347a99c,"[{'text': 'hello hi', 'userDefined': False}]",False,0,0
3,44730b05-ba07-46c5-80de-0054e0082bf1,"[{'text': 'howdy', 'userDefined': False}]",False,0,0
4,e0134cf2-921b-40db-a379-f12dfee2d802,"[{'text': 'hey there', 'userDefined': False}]",False,0,0

In [33]:
greet = pd.DataFrame(greet.data)

In [35]:
greet = pd.DataFrame(greet.data.apply(clean))

In [37]:
greet.head()

                   data
0  just going to say hi
1                  heya
2              hello hi
3                 howdy
4             hey there

In [38]:
yes['class'] = "yes"
no['class'] = "no"
greet['class'] = "hi"

In [39]:
welc = yes.append(no, ignore_index=True)
welc = welc.append(greet, ignore_index=True)

In [41]:
welc.sample(10)

            data class
23          sure   yes
25   sounds good   yes
89         howdy    hi
74    not at all    no
95         hello    hi
5        exactly   yes
88      hello hi    hi
75      no never    no
101     hi there    hi
98   hello again    hi

In [42]:
welc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    103 non-null    object
 1   class   103 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [44]:
welc.to_csv("./data/clean_csv/welc.csv", index=False)